<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>EPSI - Containers</title>
    <link href="/css/tabler.min.css" rel="stylesheet"/>
    <link href="/css/meters.css" rel="stylesheet"/>
    <script src="/js/htmx.min.js"></script>
    <script src="/js/htmx-sse.js"></script>
    <style>
      @import url('/fonts/inter.css');
      :root {
        --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
        font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
  </head>
  <body >
  
  <div class="page">

    <%- include('partials/navbar.html') %>
    
    <div class="page-wrapper">

      <div class="page-body">
        <div class="container-xl">
          <div class="row row-deck row-cards" hx-ext="sse" sse-connect="/sse">
            
            <div class="col-12">
              <div class="row row-cards" id="containers">
              </div>
            </div>

            <!-- HTMX -->
            <div class="col-12">
              <div class="row row-cards" data-hx-post="/dashboard/updates" data-hx-trigger="sse:update" data-hx-swap="afterbegin" hx-target="#containers">
              </div>
            </div>
            
            <!-- HTMX Modal Target -->
            <div id="modals-here" class="modal modal-blur fade" style="display: none" aria-hidden="false" tabindex="-1">
              <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollables">
                <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title">Chargement</h5>
                  </div>
                  <div class="modal-body text-center">
                    <div class="spinner-border"></div>
                  </div>
                </div>
              </div>
            </div>
            

            <div class="modal modal-blur fade" id="log_view" tabindex="-1" style="display: none;" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Logs</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="card-body">
                      <h4>Logs:</h4>
                        <div id="logView">
                          <pre>Pas de logs disponible</pre>
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info" onclick="viewLogs(this)" name="refresh"> 
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-refresh" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path> <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path> </svg>
                        Refresh
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      
    <%- include('partials/footer.html') %>
      
    </div>
  </div>
    
 
  <!-- SelectAll for the permissions modal -->
  <script>
    function selectAll(group) {
      
      let checkboxes = document.getElementsByName(group);
      if (checkboxes[0].checked == true) {
        for (var i = 0; i < checkboxes.length; i++) {
          checkboxes[i].checked = true;
        }
      } else {
        for (var i = 0; i < checkboxes.length; i++) {
          checkboxes[i].checked = false;
        }
      }
    }
  </script>

  </body>
</html>

